# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.sqlite3

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
*.zip
